@page
@model ProtoVinylEksamenGruppe6.Pages.Admin.AdminDeleteModel
@{
}

<form method="post">
    <div class="col-6">
        <div class="row">
            <h1>Vil du slette dette medlem?</h1>
            <p>&nbsp;</p>
            <strong>
                <label>Navn:&nbsp; @Model.DeleteMedie.Kunstner</label><br />
                
                <label>Mobil: @Model.DeleteMedie.Titel</label><br />
                
                <label>Pris:&nbsp; @Model.DeleteMedie.Pris</label><br />
            </strong>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="row">
        <div class="col-3">
            <input type="hidden" name="Id" value="@Model.DeleteMedie.Id" />
            <input type="submit" value="Slet" class="btn btn-danger" />&nbsp;&nbsp;&nbsp;

            <a href="/Admin/Adminlager" class="btn btn-secondary">Fortryd</a>
        </div>
    </div>
</form>