html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
    padding-top: 140px; /* Juster denne værdi baseret på din navbar højde */
    color: white;
}

/* Sørg for, at navbaren er fastgjort og korrekt stylet */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #B0C5A4 !important; /* Sæt navbarens baggrundsfarve */
}

/*Vores standard knap på siden*/
.button1 {
    background-color: #B0C5A4;
    border: 2px solid #240A34;
    border-radius: 10px;
    color: black;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.navbar-brand img {
    width: 80px; /* Juster størrelsen efter behov */
    height: 80px;
}

.navbar-nav .nav-item {
    margin-right: auto; /* Juster margen for at øge eller mindske afstanden */
    margin-left: 20px;
}



.dropdown-menu {
    background-color: #6DC5D1; /* Baggrundsfarve for dropdown-menu */
    color: white; /* Sæt tekstfarven til hvid */
}

.dropdown-item, .nav-link {
    color: black !important; /* Sæt tekstfarve for nav-links */
}

.dropdown-menu .dropdown-item {
    color: white !important; /* Sæt tekstfarven for dropdown-elementer */
}

.dropdown-menu a:hover {
    background-color: #444; /* Mørkere baggrund ved hover */
}

.table {
    background-color: rgba( 115, 115, 115, 0.6)
}

.table th,
.table td,
.navbar-brand,
.navbar-brand span,
.nav-link {
    color: white !important; /* Tving tekstfarven til hvid */
}

.btn {
    color: white !important; /* Tving tekstfarven på knapper til hvid */
}

.btn-primary {
    background-color: #007bff; /* Eksempel på baggrundsfarve for knapper */
    border-color: #007bff;
}


.dropdown-menu .dropdown-item:hover {
    background-color: #333; /* Ændrer baggrundsfarven ved hover */
}





h1 {
    text-align: center;
}