@page
@model ProtoVinylEksamenGruppe6.Pages.ReservationBekræftetModel
@{
}

<style>
    body {
        background-color: #243763;
</style>

<div class="text-center">
    <h1>Reservation bekræftet!</h1>
    <p>Kom og hent din reservation i butikken, på <strong>Hersegade 1D, 4000 Roskilde,</strong> næstkommende hverdag.</p>
    <br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1125.8886752522355!2d12.082339633602928!3d55.64068738972659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525fc503034d3b%3A0xa2270d20ac046369!2sVinylfreak!5e0!3m2!1sen!2sdk!4v1716454524780!5m2!1sen!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br />
    <img src="~/billeder/firework.gif" />
</div>
